@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root{
    --base-00: #222223;
    --base-01: #555968;
    --base-03: #2b2c30; 
    --pink: #ff90d0;
    --base-3: #e6e6e6;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    background-color:var(--base-00);
}

.menubar, .controls, .wrapper{
    width:100%;
}

.menubar, .controls{
    background-color: var(--base-03);
}

.menubar{
    height: 24px;
}

.controls{
    color:var(--base-3);
    height:90px;
    position:relative;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    height:calc(100vh - 114px); /* 90px + 24px = 114px */
}

.unselectable{
    user-select: none;
    -webkit-user-select: none;
}

input[type="range"]{
    -webkit-appearance: none;
}

.volume-container{
    width:107px;
    height:20px;
    margin-right:40px;
    float: right;
    margin-top:35px;
    /*position:absolute;
    right:40px;
    top:50%;
    transform:translateY(-50%);*/
}

.volume{
    margin-top: 2px;
    margin-left:9px;
    width:72px!important;
}

.volume-container div{
    float:left;
}

.progressbar-container{
    width:100%;
    margin-top:5px;
    text-align:center;
}

.progressbar{
    display: inline-block;
}

.progressbar-container span{ /* works perfectly, but currently disabled for layout reasons */
    /*display: block;*/
    display:none;
    width:calc(20% - 18px);
}

.progressbar-container span:first-of-type{
    text-align:right;
    float: left;
}

.progressbar-container span:last-of-type{
    text-align:left;
    float: right;
}

.s{
    margin-top:1px;
}

.now-playing{
    position: relative;
    width: calc(28% - 20px);
    padding-right:20px;
    height: 90px;
    float: left;
    overflow: hidden;
}

.now-playing-cover{
    width:90px;
    height:90px;
    background-color: #242526;
    float:left;
}

.now-playing span{
    display: block;
    width: calc(100% - 104px);
    padding-left:14px;
    height: 20px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.now-playing-song{
    font-size:14px;
}

.now-playing-artist{
    font-size:12px;
}

.middle-controls{
    width: 44%;
    height: 66px;
    margin-top:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.player-buttons{
    margin: 0 auto;
    display: flex;
    align-items: center;
    height:40px;
}

.player-buttons svg{
    margin:0 10px;
}

.song-strings{
    height: 40px;
    margin-top: 25px;
}