:root{
    --base-00: #222223;
    --base-01: #555968;
    --base-03: #2b2c30; 
    --pink: #ff90d0;
    --base-3: #e6e6e6;
}

body{
    margin:0;
    background-color:var(--base-00);
}

.menubar, .controls, .wrapper{
    width:100%;
}

.menubar, .controls{
    background-color: var(--base-03);
}

.menubar{
    height: 24px;
}

.controls{
    display:flex;
    color:var(--base-3);
    height:90px;
    position:relative;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    height:calc(100vh - 114px); /* 90px + 24px = 114px */
}

.unselectable{
    user-select: none;
    -webkit-user-select: none;
}

input[type="range"]{
    -webkit-appearance: none;
}

.volume-container{
    width:107px;
    height:20px;
    margin-right:40px;
    /*position:absolute;
    right:40px;
    top:50%;
    transform:translateY(-50%);*/
}

.volume{
    margin-top: 2px;
    margin-left:9px;
    width:72px!important;
}

.volume-container div{
    float:left;
}

.progressbar-container{
    width:100%;
    text-align:center;
    
}

.progressbar{
    display: inline-block;
}

.progressbar-container span{
    display: block;
    width:calc(18% - 18px);
}

.progressbar-container span:first-of-type{
    text-align:right;
    float: left;
}

.progressbar-container span:last-of-type{
    text-align:left;
    float: right;
}

.s{
    margin-top:1px;
}

.now-playing{
    width:90px;
    height:90px;
    background-color: #242526;
}

.middle-controls{
    width: calc(100% - 317px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-buttons{
    margin:0 auto;
}