/* this file contains styles based on the original ones from Reach UI */

:focus{
  outline:none;
}

.progressbar{
  width:100%!important;
}

[data-reach-slider-track-highlight] {
  border-radius: inherit;
  background:var(--base-3);
}

[data-reach-slider-track-highlight][data-orientation="horizontal"] {
  height: 100%;
}

:root {
  --reach-slider: 1;
}

[data-reach-slider-input][data-orientation="horizontal"] {
  width: 350px;
  max-width: 100%;
  height:2px;
  /*height: 4px;
  padding-top: 30px;
  padding-bottom: 30px;*/
  padding:8px 0;
}

[data-reach-slider-input][data-disabled] {
  opacity: 0.5;
}

[data-reach-slider-track] {
  background:var(--base-01);
}

[data-reach-slider-track][data-orientation="horizontal"] {
  width: 100%;
  height: inherit;
}

[data-reach-slider-handle] {
  display:none;
  width: 18px;
  height: 18px;
  border-radius:50%;
  background:var(--pink);
  z-index: 1;
  transform-origin: center;
}

[data-reach-slider-input][data-orientation="horizontal"]:hover [data-reach-slider-handle]{
  display:block;
}

[data-reach-slider-input][data-orientation="horizontal"]:hover [data-reach-slider-track-highlight]{
  background:var(--pink);
}

[data-reach-slider-handle][aria-orientation="horizontal"] {
  top: 50%;
  transform: translateY(-50%);
}

[data-reach-slider-handle][aria-orientation="horizontal"]:focus {
  transform: translateY(-50%);
}

[data-reach-slider-marker] {
  width: 8px;
  height: 8px;
  background: inherit;
  border: 1px solid var(--base-01);
  border-radius: 4px;
  transform-origin: center;
}

[data-reach-slider-marker][data-orientation="horizontal"] {
  top: 50%;
  transform: translate(-50%, -50%);
}

[data-reach-slider-marker][data-state="at-value"],
[data-reach-slider-marker][data-state="under-value"] {
  background:var(--base-3);
}
